@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

.page {
  margin-left: 7%;
}

.heading {
  display: flex;
  flex-direction: row;
}

.pre-cursor {
  width: 6px;
  height: 50px;
  background-color: #5468fd;
  border: none;
  margin-right: 0.25rem;
  margin-top: 1.1rem;
}

.heading-text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  margin-top: 0.7rem;
  font-weight: 600;
  font-size: 30px;
  text-align: start;
  color: #000000;
}

.description {
  background: #f7f1ff;
  padding: 2rem;
  font-family: 'Plus Jakarta Sans';
  margin-right: 150px;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
}

.description-header{
  text-align: start;
  font-family: 'Plus Jakarta Sans';
  margin-right: 150px;
  font-style: normal;
  color: #363232;
  font-size: 18px;
  line-height: 36px;
  margin: 0.9rem;
}
.description-text{
  font-family: 'Plus Jakarta Sans';
  margin-right: 150px;
  font-style: normal;
  color: #363232;
  font-size: 18px;
  line-height: 36px;
  margin: 0.9rem;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post-text{
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  color: #f7f1ff;
  text-align: center;
}
.item{
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #f7f1ff;
  text-align: center;
}
.box
{
  margin-right: 150px;
  margin-bottom: 2.2rem;
}