@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

.organisation_page {
  display: flex;
  flex-direction: column;
}

.organisation_heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.organisation_sidebar {
  background: #313a57;
  color: #ffffff;
}

.organisation_p {
  font-family: 'Plus Jakarta Sans';
}

.organisation_span {
  font-family: 'Plus Jakarta Sans';
}
.organisation_sidebar-text {
  font-family: 'Plus Jakarta Sans';
}
.organisation_pre-cursor {
  width: 6px;
  height: 50px;
  background-color: #5468fd;
  border: none;
  margin-right: 0.25rem;
  margin-top: 1.1rem;
}

.organisation_heading-text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  margin-top: 1.2rem;
  font-weight: 600;
  font-size: 30px;
  text-align: start;
  color: #000000;
}

.organisation_description {
  background: #f7f1ff;
  font-family: 'Plus Jakarta Sans';
  padding: 2rem;

  margin-right: 150px;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
}

.organisation_description-header {
  text-align: start;
  font-family: 'Plus Jakarta Sans';
  margin-right: 150px;
  font-style: normal;
  color: #363232;
  font-size: 18px;
  line-height: 36px;
  margin: 0.9rem;
}
.organisation_description-text {
  font-family: 'Plus Jakarta Sans';
  margin-right: 150px;
  font-style: normal;
  color: #363232;
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 7%;
    margin: 0.9rem;

}

.organisation_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.organisation_post-text {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  color: #f7f1ff;
  text-align: center;
}
.organisation_item {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #f7f1ff;
  text-align: center;
}

.organisation_box {
  margin-right: 150px;
  margin-bottom: 2.2rem;
}

.Mui-selected {
  background-color: #5468fd;
  color: #f7f1ff;
  font-weight: bold;
}
