@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

.page {
  margin-left: 7%;
}

.heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.important_pre-cursor {
  width: 6px;
  height: 40px;
  background-color: #5468fd;
  border: none;
  margin-right: 0.25rem;
}

.important_heading-text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.desc {
  background: #f7f1ff;
  font-weight: 400;
  padding: 2rem;
  line-height: 30px;
}

.important_description-header {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
