@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

.page {
  margin-left: 7%;
}

.heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.academics_pre-cursor {
  width: 6px;
  height: 50px;
  background-color: #5468fd;
  border: none;
  margin-right: 0.25rem;
  margin-top: -0.2rem;
}

.academics_heading-text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: start;
  color: #000000;
}

.academics_description {
  background: #f7f1ff;
  padding: 2rem;
  font-family: 'Plus Jakarta Sans';
  margin-right: 150px;
  margin-bottom: 3rem;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
}

.academics_description-heading{
  text-align: start;
  font-family: 'Plus Jakarta Sans';
  margin-right: 150px;
  font-style: normal;
  color: #363232;
  font-size: 18px;
  line-height: 36px;
  margin: 0.9rem;
}
.academics_description-text{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  color: #363232;
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 5%;
}
.image {
  display:flex;

}
.post-text{
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  color: #f7f1ff;
  text-align: center;
}
.item{
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #f7f1ff;
  text-align: center;
  width: 100%;
  margin-left: 0%;
}
